<link rel="stylesheet" href="/style/product.css">
<link rel="stylesheet" href="/style/carrito.css">

<section id="container-carrito" data-activar="true">
    <div id="carrito-logo">
        <svg width="476" height="409" viewBox="0 0 476 409" fill="none" xmlns="http://www.w3.org/2000/svg"><g><path d="M42.9024 235.994L4.49308 73.0877C1.72002 61.3256 10.9947 50.125 23.508 50.125H342.643L350.091 15.0297C351.947 6.28207 359.932 0 369.195 0H452.5C463.27 0 472 8.41552 472 18.7969V31.3281C472 41.7095 463.27 50.125 452.5 50.125H395.72L338.644 319.104C352.298 326.674 361.5 340.867 361.5 357.141C361.5 381.364 341.129 401 316 401C290.871 401 270.5 381.364 270.5 357.141C270.5 344.865 275.738 333.774 284.169 325.812H113.831C122.262 333.774 127.5 344.865 127.5 357.141C127.5 381.364 107.129 401 81.9999 401C56.8709 401 36.4999 381.364 36.4999 357.141C36.4999 339.775 46.9714 324.769 62.1579 317.663L57.6753 298.65C54.9022 286.888 64.1769 275.688 76.6902 275.688H294.78L300.098 250.625H61.9173C52.8125 250.625 44.9198 244.552 42.9024 235.994Z" fill="black"/><path d="M343.133 50.2288L343.049 50.625H342.643H23.508C11.2934 50.625 2.28604 61.5476 4.97974 72.973L43.3891 235.879C45.3506 244.2 53.0326 250.125 61.9173 250.125H300.098H300.715L300.587 250.729L295.269 275.791L295.185 276.188H294.78H76.6902C64.4756 276.188 55.4683 287.11 58.162 298.535L62.6445 317.549L62.7377 317.944L62.3698 318.116C47.3453 325.146 36.9999 339.984 36.9999 357.141C36.9999 381.07 57.1296 400.5 81.9999 400.5C106.87 400.5 127 381.07 127 357.141C127 345.011 121.825 334.049 113.488 326.176L112.574 325.312H113.831H284.169H285.427L284.513 326.176C276.175 334.049 271 345.011 271 357.141C271 381.07 291.13 400.5 316 400.5C340.87 400.5 361 381.07 361 357.141C361 341.063 351.91 327.03 338.401 319.542L338.078 319.362L338.154 319.001L395.231 50.0212L395.315 49.625H395.72H452.5C463.011 49.625 471.5 41.4162 471.5 31.3281V18.7969C471.5 8.70881 463.011 0.5 452.5 0.5H369.195C360.156 0.5 352.384 6.62873 350.58 15.1334L350.091 15.0297L350.58 15.1335L343.133 50.2288Z" stroke="black"/></g><defs><filter id="filter0_d" x="0" y="0" width="476" height="409" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB"><feFlood flood-opacity="0" result="BackgroundImageFix"/><feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"/><feOffset dy="4"/><feGaussianBlur stdDeviation="2"/><feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0"/><feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow"/><feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow" result="shape"/></filter></defs></svg> 
        <p>Carrito</p>
    </div>
</section>
<section id="carrito-container-product">
    <div>
        <header><h1>Mi Carrito</h1></header>
        <div id="inf-price">
            <span>Precio Total: <strong>$0</strong></span>
            <section id="container-message">
            </section>
        </div>
        <div id="btn-close">
            <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="times" class="svg-inline--fa fa-times fa-w-11" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 352 512"><path d="M242.72 256l100.07-100.07c12.28-12.28 12.28-32.19 0-44.48l-22.24-22.24c-12.28-12.28-32.19-12.28-44.48 0L176 189.28 75.93 89.21c-12.28-12.28-32.19-12.28-44.48 0L9.21 111.45c-12.28 12.28-12.28 32.19 0 44.48L109.28 256 9.21 356.07c-12.28 12.28-12.28 32.19 0 44.48l22.24 22.24c12.28 12.28 32.2 12.28 44.48 0L176 322.72l100.07 100.07c12.28 12.28 32.2 12.28 44.48 0l22.24-22.24c12.28-12.28 12.28-32.19 0-44.48L242.72 256z"></path></svg>
        </div>
        <section id="cont-producto">
        </section>
    </div>
</section>
<script src="/js/carrito.js"></script>